.extension-buttons-container {
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.extension-buttons-container button {
  background-color: rgb(23, 78, 39);
  border-bottom-style: solid;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
}

.extension-buttons-container button:hover {
  background-color: #d4d4d4;
}

.subcategory-settings {
  margin: 16px;
}

.subcategory-settings textarea {
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

#addButtons,
#removeButtons,
#settingsButton {
  background-color: rgb(23, 78, 39);
  border-bottom-style: solid;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  margin: 16px;
}

#addButtons:hover,
#removeButtons:hover,
#settingsButton:hover {
  background-color: #d4d4d4;
}

#settingsButton {
  text-decoration: none;
}
