/* styles.css */

.extension-buttons-container {
  display: inline-flex !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.extension-buttons-container button {
  background-color: rgb(23, 78, 39) !important;
  border-bottom-style: solid !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-color: rgb(33, 105, 54) !important;
  border-bottom-color: rgb(33, 105, 54) !important;
  padding: 16px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  color: white !important;
  border: none !important;
}

.extension-buttons-container button:hover {
  background-color: #d4d4d4 !important;
}

#settings-container {
  margin: 16px;
}

.subcategory-input {
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

#addButtons,
#removeButtons,
#settingsButton {
  background-color: rgb(23, 78, 39) !important;
  border-bottom-style: solid !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-top-color: rgb(33, 105, 54) !important;
  border-bottom-color: rgb(33, 105, 54) !important;
  padding: 16px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  color: white !important;
  border: none !important;
  margin: 16px;
}

#addButtons:hover,
#removeButtons:hover,
#settingsButton:hover {
  background-color: #d4d4d4 !important;
}

#settingsButton {
  text-decoration: none;
}
