/* styles.css */

.extension-buttons-container {
  display: flex;
  flex-direction: column; /* Display buttons vertically */
  gap: 16px; /* Increased gap for more space */
  margin-top: 16px; /* Increased margin */
}

.main-category-button,
.subcategory-button {
  padding: 16px; /* Increased padding */
  cursor: pointer;
  font-size: 16px; /* Increased font size */
  transition: opacity 0.5s; /* Added transition for a slow fade-out effect */
}

.main-category-button:hover,
.subcategory-button:hover {
  background-color: #d4d4d4; /* Light gray on hover */
}

/* Use default browser style for buttons */
button {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/* Add fade-out animation on button click */
.main-category-button:active,
.subcategory-button:active {
  opacity: 0; /* Set opacity to 0 on click */
}

/* Show "Done!" button with reduced opacity */
.done-button {
  opacity: 0.5;
  pointer-events: none; /* Disable pointer events on "Done!" button */
}

/* Add fade-in animation for "Done!" button */
.done-button.show {
  opacity: 1;
  transition: opacity 0.5s; /* Added transition for a slow fade-in effect */
}
